
.filterSection, .tagSection {
    margin-bottom: 20px;
}

.tagSection {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    border: 1px solid var(--primary-color);
}

.tagHeader {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    background-color: var(--primary-color);
    color: white;
}

.tagsWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    /* Add a scrollbar if the content is too long */
    max-height: 300px;
    overflow-y: auto;
    min-width:200px;
}

/* Base styles for your tag buttons */
.tagButton {
    text-align: left;
    width: 100%; /* Make buttons expand to the full width of the sidebar */
    border: 0;
    background-color: transparent;
    color: var(--secondary-text-color);
}

/* Styling for buttons when they are not checked */
.tagButton[aria-checked="false"] {
    /* Default button style */
}

/* Styling for buttons when they are checked */
.tagButton[aria-checked="true"] {
    background-color: var(--primary-color);
    border-color: var(--secondary-bright-color);
    color: var(--primary-text-color);
}

/* Hover states for interactive feedback */
.tagButton:hover {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

/* Focus styles to maintain accessibility */
.tagButton:focus {
    outline: none;
    border-color: var(--secondary-bright-color);
}

/* Scrollbar styles */
.tagsWrapper::-webkit-scrollbar {
    width: 8px;
}

.tagsWrapper::-webkit-scrollbar-thumb {
    background: var(--secondary-bright-color);
    border-radius: 2px;
}

.tagsWrapper::-webkit-scrollbar-track {
    background: var(--tertiary-color);
}